In [77]:
import pandas as pd

top250_df = pd.read_csv("top250.csv", sep='	')

In [47]:
director = top250_df['director'].value_counts().sort_values(ascending=False)[:10]

In [48]:
a = director.tolist()
b = director.index.tolist()

In [49]:
dic = []
for name, number in zip(b, a):
    dic.append({'name': name, 'number': number})
    print(name, number)

宫崎骏 7
克里斯托弗·诺兰 7
史蒂文·斯皮尔伯格 6
王家卫 5
李安 4
昆汀·塔伦蒂诺 3
刘镇伟 3
弗朗西斯·福特·科波拉 3
詹姆斯·卡梅隆 3
姜文 3

In [50]:
import json
with open('director.json', 'w') as f:
    json.dump(dic, f)

In [78]:
yearCount = top250_df['year'].value_counts().sort_index()

# dic = []
# for name, number in zip(b, a):
#     dic.append({'year': name, 'number': number})
# #     print(name, number)

In [88]:
a = yearCount.tolist()
b = yearCount.index.tolist()
arrd = {}
for name, number in zip(b, a):
    arrd[name] = number  
# arrd
dic = []
for i in range(1931, 2016):
    if(arrd.__contains__(i) == False):
        dic.append({'year': i, 'number': 0})
    else:
        dic.append({'year': i, 'number': arrd[i]})

In [89]:
dic

[{'number': 1, 'year': 1931},
 {'number': 0, 'year': 1932},
 {'number': 0, 'year': 1933},
 {'number': 0, 'year': 1934},
 {'number': 0, 'year': 1935},
 {'number': 1, 'year': 1936},
 {'number': 0, 'year': 1937},
 {'number': 0, 'year': 1938},
 {'number': 1, 'year': 1939},
 {'number': 1, 'year': 1940},
 {'number': 0, 'year': 1941},
 {'number': 1, 'year': 1942},
 {'number': 0, 'year': 1943},
 {'number': 0, 'year': 1944},
 {'number': 0, 'year': 1945},
 {'number': 0, 'year': 1946},
 {'number': 0, 'year': 1947},
 {'number': 0, 'year': 1948},
 {'number': 0, 'year': 1949},
 {'number': 1, 'year': 1950},
 {'number': 0, 'year': 1951},
 {'number': 1, 'year': 1952},
 {'number': 2, 'year': 1953},
 {'number': 1, 'year': 1954},
 {'number': 0, 'year': 1955},
 {'number': 0, 'year': 1956},
 {'number': 2, 'year': 1957},
 {'number': 0, 'year': 1958},
 {'number': 0, 'year': 1959},
 {'number': 1, 'year': 1960},
 {'number': 1, 'year': 1961},
 {'number': 0, 'year': 1962},
 {'number': 0, 'year': 1963},
 {'number': 0, 'year': 1964},
 {'number': 1, 'year': 1965},
 {'number': 2, 'year': 1966},
 {'number': 0, 'year': 1967},
 {'number': 0, 'year': 1968},
 {'number': 0, 'year': 1969},
 {'number': 0, 'year': 1970},
 {'number': 1, 'year': 1971},
 {'number': 1, 'year': 1972},
 {'number': 0, 'year': 1973},
 {'number': 1, 'year': 1974},
 {'number': 1, 'year': 1975},
 {'number': 0, 'year': 1976},
 {'number': 0, 'year': 1977},
 {'number': 0, 'year': 1978},
 {'number': 1, 'year': 1979},
 {'number': 1, 'year': 1980},
 {'number': 0, 'year': 1981},
 {'number': 1, 'year': 1982},
 {'number': 0, 'year': 1983},
 {'number': 2, 'year': 1984},
 {'number': 0, 'year': 1985},
 {'number': 2, 'year': 1986},
 {'number': 3, 'year': 1987},
 {'number': 5, 'year': 1988},
 {'number': 2, 'year': 1989},
 {'number': 4, 'year': 1990},
 {'number': 5, 'year': 1991},
 {'number': 2, 'year': 1992},
 {'number': 8, 'year': 1993},
 {'number': 12, 'year': 1994},
 {'number': 9, 'year': 1995},
 {'number': 5, 'year': 1996},
 {'number': 9, 'year': 1997},
 {'number': 6, 'year': 1998},
 {'number': 7, 'year': 1999},
 {'number': 9, 'year': 2000},
 {'number': 11, 'year': 2001},
 {'number': 10, 'year': 2002},
 {'number': 9, 'year': 2003},
 {'number': 12, 'year': 2004},
 {'number': 5, 'year': 2005},
 {'number': 10, 'year': 2006},
 {'number': 7, 'year': 2007},
 {'number': 9, 'year': 2008},
 {'number': 12, 'year': 2009},
 {'number': 13, 'year': 2010},
 {'number': 11, 'year': 2011},
 {'number': 5, 'year': 2012},
 {'number': 8, 'year': 2013},
 {'number': 8, 'year': 2014},
 {'number': 1, 'year': 2015}]

In [90]:
import json
with open('year.json', 'w') as f:
    json.dump(dic, f)

In [64]:
placeCount = top250_df['country'].map(lambda x: str(x).split('/')[0]).value_counts().sort_index()

In [74]:
a = placeCount.tolist()
b = placeCount.index.tolist()
dic = []
for name, number in zip(b, a):
    dic.append({'place': name, 'number': number})
#     print(name, number)

In [76]:
import json
with open('place.json', 'w') as f:
    json.dump(dic, f)